# Data exploration and preparation for Machine Learning
## Explore usage of `Stadtrad` datasets

* get knowledge of relationships between variables
** create better features
* remove outliers
** get a robuster model
using

### Useful shortcuts in Jupyter
If you use Chrome with Vimium extension, you might disable it for http://localhost:8888/*, https://github.com/philc/vimium/wiki/Disabling-Vimium#wholly-disable-vimium-on-a-site
* run current cell
    - shift + Enter
* go into cell to modify
    - Enter (the frame around cell becomes **green**)
* deselect cell
    - Esc (the frame around cell becomes blue)
* new cell above current cell
    - Esc to deselect followed by `a`
* new cell below current cell
    - Esc to deselect followed by `b`
* delete cell
    - Esc to deselect followed by `dd`

## Introduce dataset
tbd - most important columns

## Goal
tbd - We want to predict something

In [1]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
from matplotlib.ticker import MultipleLocator, FormatStrFormatter
import seaborn as sns

In [2]:
# increase the font size of the plots
FONT_SIZE = 14
mpl.rcParams['xtick.labelsize'] = FONT_SIZE 
mpl.rcParams['ytick.labelsize'] = FONT_SIZE
mpl.rcParams['legend.fontsize'] = FONT_SIZE
mpl.rcParams['axes.labelsize'] = FONT_SIZE
mpl.rcParams['figure.figsize'] = (10, 10)

In [3]:
RAW_DATA = './data/raw/'
PROCESSED_DATA = './data/processed/'
RENTAL_ZONES = 'OPENDATA_RENTAL_ZONE_CALL_A_BIKE.csv'
VEHICLES = 'OPENDATA_VEHICLE_CALL_A_BIKE.csv'
BOOKINGS = 'OPENDATA_BOOKING_CALL_A_BIKE.csv'
AVAILABILITY = 'HACKATHON_AVAILABILITY_CALL_A_BIKE.csv'
EFFICIENCY = 'HACKATHON_EFFICIENCY_CALL_A_BIKE.csv'

## Load and join data

In [4]:
from utils import helper

In [5]:
df_rental = helper.load_dataset(RAW_DATA + RENTAL_ZONES, index_col='RENTAL_ZONE_HAL_ID', delimiter=';')
df_rental.head()

,RENTAL_ZONE_HAL_SRC,NAME,CODE,TYPE,CITY,COUNTRY,LATITUDE,LONGITUDE,POI_AIRPORT_X,POI_LONG_DISTANCE_TRAINS_X,POI_SUBURBAN_TRAINS_X,POI_UNDERGROUND_X,ACTIVE_X,COMPANY,COMPANY_GROUP
RENTAL_ZONE_HAL_ID,,,,,,,,,,,,,,,
354,Standort,Münchner Freiheit,88001308.0,normal,München,Deutschland,"11,586111110000000","48,161944440000000",Nein,Nein,Nein,Nein,Ja,Call a Bike,Call a Bike
388,Standort,Ostbahnhof,88001662.0,normal,München,Deutschland,"11,604444440000000","48,128611110000000",Nein,Nein,Nein,Nein,Ja,Call a Bike,Call a Bike
499,Standort,DB_MobilityCenter,88002897.0,normal,München,Deutschland,NaN,NaN,Nein,Nein,Nein,Nein,Ja,Call a Bike,Call a Bike
1532,Standort,Stiglmaierplatz,88006552.0,normal,München,Deutschland,"11,558888890000000","48,146944440000000",Nein,Nein,Nein,Nein,Ja,Call a Bike,Call a Bike
1559,Standort,DB_MobilityCenter,88006834.0,normal,München,Deutschland,"11,575277780000000","48,160277780000000",Nein,Nein,Nein,Nein,Ja,Call a Bike,Call a Bike

In [6]:
df_vehicle = helper.load_dataset(RAW_DATA + VEHICLES, index_col='VEHICLE_HAL_ID', delimiter=';')
df_vehicle.head()

,VEHICLE_MODEL_TYPE,VEHICLE_MANUFACTURER_NAME,VEHICLE_MODEL_NAME,VEHICLE_TYPE_NAME,VIN,REGISTRATION_PLATE,SERIAL_NUMBER,KW,FUEL_TYPE_NAME,OWNERSHIP_TYPE,CAPACITY_AMOUNT,ACCESS_CONTROL_COMPONENT_TYPE,COMPANY,COMPANY_GROUP
VEHICLE_HAL_ID,,,,,,,,,,,,,,
110466,Fahrrad,Biketec,DB-Look,CallBike,NaN,NaN,4467,NaN,NaN,Kauf,NaN,CAB GPRS 2.0,Call a Bike,Call a Bike
110471,Fahrrad,Biketec,DB-Look,CallBike,NaN,NaN,4472,NaN,NaN,Kauf,NaN,CAB 4.0,Call a Bike,Call a Bike
110574,Fahrrad,Biketec,DB-Look,CallBike,NaN,NaN,4575,NaN,NaN,Kauf,NaN,CAB GPRS 2.0,Call a Bike,Call a Bike
110581,Fahrrad,Biketec,StadtRAD-Look,StadtRAD,NaN,NaN,4582,NaN,NaN,Kauf,NaN,CAB 2.0,StadtRAD Hamburg,Call a Bike
110588,Fahrrad,Biketec,DB-Look,CallBike,NaN,NaN,4589,NaN,NaN,Kauf,NaN,CAB GPRS 2.0,Call a Bike,Call a Bike

In [7]:
df_vehicle.describe()

,VIN,REGISTRATION_PLATE,SERIAL_NUMBER,KW,FUEL_TYPE_NAME,CAPACITY_AMOUNT
count,0.0,0.0,11228.000000,0.0,0.0,0.0
mean,NaN,NaN,6337.797292,NaN,NaN,NaN
std,NaN,NaN,3586.889031,NaN,NaN,NaN
min,NaN,NaN,3.000000,NaN,NaN,NaN
25%,NaN,NaN,3224.750000,NaN,NaN,NaN
50%,NaN,NaN,6398.500000,NaN,NaN,NaN
75%,NaN,NaN,9434.250000,NaN,NaN,NaN
max,NaN,NaN,17065.000000,NaN,NaN,NaN

Task:<br>
1: build dataframe with potential features by joining dataframes
(maybe I will create one CSV already, otherwise too complex)

## Descriptive Analysis

Task:<br>
1: Split data into train and test

Tasks:<br>
1: find null values<br>
2: handle/impute null values (hint: distinguish between categorical and numerical)

In [ ]:
df_vehicle.isnull().sum()#.sum()

Task: Outlier detection
1: find outlier
2: crop data

In [ ]:
# boxplots on 1-2 colunms

Task: Check correlations between features

In [ ]:
#corr_matrix = dataframe.corr()